*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;;
}

body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}

.left-side{
    background-color: #000;
    width: 240px;
    height: 100%;
    position: fixed;
    border-right: 0.2px solid #a8a8a8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.upper-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    /* gap: 0.25rem; */
    padding: 1rem;
}

.upper-content svg{
    display: none;
}

.logo{
    cursor: pointer;
    width: 120px;
    margin: 1rem 0;
    padding: 0.6rem;
}

.link{
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
    
    
}

.link svg{
    margin-right: 15px;
    cursor: pointer;
}

.mobileNav{
    display: none;
}


.container {
    /* background-color: #333; */
    width:980px;
    /* max-width: 1200vw; */
    height: auto;
    margin: 0 auto;
    margin-left: 270px;
    align-items: center;
    padding: 0 15px;
}
    

  /* Profile section */
  .profile {
    display: flex;
    padding: 30px 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .profile-info {
    flex: 1;
  }

  .profile-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .username {
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
  }

  .btn {
    background: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
  }

.btn:hover {
    background: #262626;
  }

  .action-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
  }

  .profile-stats {
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
  }

  .strong{
    color: #fff;
  }
  
  .stat {
    margin-right: 30px;
    color: #919090;
  }

  .strong {
    font-weight: bold;
  }

  .profile-bio {
    margin-bottom: 10px;
  }

  .fullname {
    font-weight: bold;
    display: block;
  }

  .bio-line {
    display: block;
    margin-bottom: 5px;
  }

  .motivational {
    font-style: italic;
    display: block;
    margin-top: 5px;
  }



/* Highlights Section */
    .highlights {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 15px 10px;
      gap: 20px;
      scroll-snap-type: x mandatory;
    }

    .highlight {
      text-align: center;
      scroll-snap-align: start;
      flex: 0 0 auto;
    }

    .highlight-img img {
     cursor: pointer;
      width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
    padding: 2px;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);

    }

    .highlight-img img:hover {
      transform: scale(1.0);
    }

    .highlight-name {
      margin-top: 8px;
      font-size: 12px;
      color: #fff;
      font-weight: 500;
    }

    /* Tabs Section */
    .tabs {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
    }
    
    .tab {
      color: #595959;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.2s ease;
      font-weight: 500;
    }

    .tab:hover {
      color: #333;
    }

    .tab.active {
      border-bottom: 2px solid #fff;
      color: #fff;
    }

    /* Hide scrollbars (mobile friendly) */
    .highlights::-webkit-scrollbar {
      display: none;
    }

    .highlights {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }



    /* Posts grid */
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .post {
    aspect-ratio: 1 / 1;
    position: relative;
  }

  .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

    /* Responsive adjustments */

    @media (max-width: 801px) and (max-width:900px) {
      .container{
        margin-left: 65px ;
      }

      
    }

    @media (max-width: 767px) and (max-width:800px) {
      .container{
        margin-left: 80px ;
      }

      
    }


    @media (max-width: 600px) {
      .container{
        margin-left: 0;
      }
      .tab {
        font-size: 12px;
        padding: 8px 10px;
      }

      .highlight-img img {
        width: 60px;
        height: 60px;
      }

      .highlight-name {
        font-size: 11px;
      }
    }






  /* Responsive */
  @media (max-width: 767px) {
    .profile {
      flex-direction: column;
      align-items: center;
    }

    .profile-img {
      margin: 0 auto 20px;
    }

    .profile-header {
      width: 100%;
      justify-content: space-between;
    }

    .profile-stats {
      justify-content: space-around;
      width: 100%;
    }

    .stat {
      margin-right: 0;
      text-align: center;
    }

    .posts-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 480px) {
    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }


    .username {
      font-size: 20px;
    }

    .btn {
      padding: 5px 10px;
      font-size: 14px;
    }

    .highlight-img {
      width: 65px;
      height: 65px;
    }

    .highlight {
      min-width: 65px;
    }
  }




/* leftSide Bar Responsiveness */
@media screen and (max-width:900px){
    
    .left-side{
        width: 70px;
    }

    .upper-content{
        align-items: center;
    }

    .link a{
        display: none;
    }

    .logo{
        display: none;
    }

    .upper-content svg{
        display: block;
        margin-left: -2px;
        margin-bottom: 1rem;
    }

    .lower-content{
        margin-top: 25px;
    }

    .right-side{
        display: none;
    }

    .main-side{
        width: 90vw;
        margin:auto ;
    }
}


@media screen and (max-width:600px){
    .left-side{
        display: none;
    }

    .mobileNav{
        position: fixed;
        bottom: 0;
        /* left: 0.2rem; */
        width: 100%;
        height: 35px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        border-top: 1px solid #a8a8a8;
        z-index: 1000;
        background-color: #000;
    }

    .main-side{
        width: 100vw;
        margin-left: 0;
    }

    .story-content,.post-content{
        width: 78vw  !important;
        padding: 0;
    }
    
}